body
{
background-color: black;
}
p
{
    text-align: center;
color: #ffffff;
}
h1
{ color: #ffffff;
}
ul{
    color: #ffffff;
}
.rocks
{
    color: #ffffff;
}
h4{
    color: #ffffff;
}
.painel
{
    text-align: center;
}
form
{
    color: #ffffff;
}
#Idrecado{
    height:50px;
}

fieldset{
    display: flex;
    flex-direction: row;
}

#form{
    width: 30%;
}
#video{
    width: 20%;
}
